
.actor-card{
    background: #f7fae7;
}
.actor-card img{
    width: 50%;
    height: 220px;
    border-radius: 50%;
    margin: auto;
}

.add-btn{
    background: #0d6efd;
    color: #fff;
}

.social-icon{
    margin-top: 20px;
}

.social-icon li{
    list-style: none;
    margin-left: 40px;
    cursor: pointer;
    font-size: 25px;
    color: gold;
    transition: .6s;
}
.social-icon li:hover{
    color: #0d6efd;
}